body {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.head {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

.head-menu {
  background-color: #03061a; }

.head-menu-logos {
  float: left;
  width: 7.29%;
  height: 2.15%;
  margin-top: 2.91%;
  margin-bottom: 2.22%;
  margin-left: 7.22%;
  margin-right: 42.71%; }

.head-menu-logos img {
  width: 100px;
  height: auto; }

.head-menu-items li {
  float: left;
  padding-top: 3.33%;
  display: block; }

.head-menu-items li + li {
  margin-left: 2.91%; }

.head-menu-item {
  display: none; }

.head-portada {
  height: 36.94%; }
  .head-portada img {
    width: 100%;
    max-width: 100%; }

.main {
  background-color: white;
  text-align: center; }

h1 {
  color: black;
  margin: 0px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

.main-title {
  padding-top: 4.16%; }

.main-images {
  padding-left: 4.51%;
  padding-bottom: 6.87%;
  width: 100%;
  max-width: 100%; }
  .main-images img {
    width: 100%;
    max-width: 100%; }

.main-images-container {
  float: left;
  padding-left: 2.77%;
  padding-top: 2.77%;
  position: relative; }

.main-description {
  width: 395px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.541);
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 36px;
  position: absolute;
  bottom: 5px; }

.main-description-cuba {
  width: 395px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.541);
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 36px;
  position: absolute;
  bottom: 50px; }

.main-mas {
  background-color: rgba(0, 0, 0, 0.541);
  font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 395px;
  height: 47px;
  position: absolute;
  bottom: 5px;
  font-size: 19px; }
  .main-mas p {
    margin: 0px;
    padding-top: 10px; }

.info {
  background-image: url(".././img/bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 38.75%; }

.info-logos {
  width: 14.37%;
  height: 4.44%;
  padding-top: 18.40%;
  padding-left: 20.62%;
  padding-right: 18.19%;
  margin: 0px;
  float: left; }
  .info-logos img {
    width: 100%;
    max-width: 100%; }

.info-text {
  width: 37.84%;
  margin: 0px;
  float: left;
  padding-top: 9.93%;
  padding-bottom: 3.40%; }
  .info-text p {
    font-size: 18px; }
  .info-text h2 {
    font-size: 40px;
    margin-top: 0px; }

.footer {
  background-color: #171717;
  text-align: center; }

.footer-menu {
  padding-top: 3.61%;
  padding-left: 30.26%; }
  .footer-menu a {
    padding-left: 2.98%; }

.footer-link {
  float: left; }

.footer-facebook {
  padding-top: 2.91%;
  padding-bottom: 2.77%; }

.footer-credits p {
  margin: 0;
  padding-bottom: 3.05%; }

@media (max-width: 1023px) {
  .head-menu-item {
    display: block;
    padding-top: 43px; }
  .head-menu-logos {
    margin-right: 70%; }
  .main-images {
    float: none; }
  .main-images-container {
    float: left; }
  .head-menu-items ul {
    display: none; }
  .info {
    text-align: center; }
  .info-logos {
    width: 14.37%;
    height: 4.44%;
    padding-top: 9.40%;
    padding-left: 43.01%;
    padding-right: 0;
    margin: 0px;
    float: none; }
  .info-text {
    width: 37.84%;
    margin: 0px;
    float: none;
    padding-left: 31.10%;
    padding-top: 5%;
    padding-bottom: 3.40%; }
    .info-text p {
      font-size: 12px; }
    .info-text h2 {
      font-size: 30px; }
  .footer-menu {
    padding-top: 3.61%;
    padding-left: 24.26%; } }

@media (max-width: 767px) {
  .main-images {
    padding-left: 20.46%; } }
