body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

.wrapper {
  width: 1440px;
  margin: 0 auto; }

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.head {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

.head-menu {
  background-color: #03061a; }

.head-menu-logos {
  float: left;
  width: 105px;
  height: 31px;
  margin-top: 42px;
  margin-bottom: 32px;
  margin-left: 104px;
  margin-right: 598px; }

.head-menu-logos img {
  width: 105px;
  height: 31px; }

.head-menu-items li {
  float: left;
  margin-top: 48px;
  display: block; }

.head-menu-items li + li {
  margin-left: 42px; }

.head-portada {
  height: 532px; }

.main {
  background-color: white;
  text-align: center; }

h1 {
  color: black;
  margin: 0px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px; }

.main-title {
  padding-top: 60px; }

.main-images + .main-images {
  padding-bottom: 99px; }

.main-images {
  padding-top: 52px;
  padding-left: 44px; }
  .main-images img {
    width: 397px;
    height: auto; }

.main-images-container {
  float: left;
  padding-left: 40px;
  position: relative; }

.main-description {
  width: 397px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.541);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 36px;
  position: absolute;
  bottom: 5px; }

.main-description-cuba {
  width: 397px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.541);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 36px;
  position: absolute;
  bottom: 50px; }

.main-mas1 {
  background-color: rgba(0, 0, 0, 0.541);
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 397px;
  height: 47px;
  position: absolute;
  bottom: 5px;
  font-size: 19px; }
  .main-mas1 p {
    margin: 0px;
    padding-top: 10px; }

.main-mas2 {
  background-color: rgba(0, 0, 0, 0.541);
  font-family: 'Montserrat', sans-serif;
  position: absolute; }

.info {
  background-image: url(".././img/bg.jpg");
  background-repeat: no-repeat;
  width: 1440px;
  height: 558px; }

.info-logos {
  width: 207px;
  height: 64px;
  padding-top: 265px;
  padding-left: 297px;
  padding-right: 262px;
  margin: 0px;
  float: left; }

.info-text {
  width: 545px;
  margin: 0px;
  float: left;
  padding-top: 143px; }
  .info-text p {
    font-size: 18px; }
  .info-text h2 {
    font-size: 40px;
    margin-top: 0px; }

.footer {
  background-color: #171717;
  text-align: center; }

.footer-menu {
  padding-top: 52px;
  padding-left: 407px; }
  .footer-menu a {
    padding-left: 43px; }

.footer-link {
  float: left; }

.footer-facebook {
  padding-top: 42px;
  padding-bottom: 40px; }

.footer-credits p {
  margin: 0;
  padding-bottom: 44px; }
