.footer{
    background-color: $dark-gray;
    text-align: center;
}
.footer-menu{
    padding-top: 3.61%;
    padding-left: 28.26%;
        a{
            padding-left: 2.98%;
        }
}
.footer-link{
    float: left;
}
.footer-facebook{
    padding-top: 2.91%;
    padding-bottom: 2.77%;
}
.footer-credits{
    p{
        margin: 0;
        padding-bottom: 3.05%;
    }
}
