.footer{
    background-color: #171717;
    text-align: center;
}
.footer-menu{
    padding-top: 52px;
    padding-left: 407px;
        a{
            padding-left: 43px;
        }
}
.footer-link{
    float: left;
}
.footer-facebook{
    padding-top: 42px;
    padding-bottom: 40px;
}
.footer-credits{
    p{
        margin: 0;
        padding-bottom: 44px;
    }
}
