.head{
    font-family: $Montserrat;
    font-size: 16px;
}
.head-menu{
    background-color:$dark-bue;
}
.head-menu-logos{
    float: left;
    width: 7.29%;
    height: 2.15%;
    margin-top: 2.91%;
    margin-bottom: 2.22%;
    margin-left: 7.22%;
    margin-right: 42.71%;
}
.head-menu-logos img{
    width: 100px;
    height: auto;
}
.head-menu-items {
    li{
        float: left;
        margin-top: 3.33%;
        display: block;
    }
    li+li{
        margin-left: 2.91%;
    }
}
.head-portada{
    height: 36.94%;
    img{
        width: 100%;
        max-width: 100%;
    }
}