.main{
    background-color: white;
    text-align: center;
}
h1{
    color: black;
    margin: 0px 0px 0px 0px;
    font-family: $Montserrat;
    font-size: 30px;
}
.main-title{
    padding-top: 4.16%;
}
.main-images +.main-images{
    padding-bottom: 6.87%;
}
.main-images{
    padding-top:3.61%;
    img{
        width: 397px;
        height: auto;
    }
}
.main-images-container{
    float: left;
    padding-left: 2.77%;
    position: relative;
}
.main-description{
    width: 397px;
    height: 56px;
    background-color:$spam;
    font-family:$oleo;
    font-size: 36px;
    position: absolute;
    bottom: 5px;
}
.main-description-cuba{
    width: 397px;
    height: 56px;
    background-color:$spam;
    font-family:$oleo;
    font-size: 36px;
    position: absolute;
    bottom: 50px;
}
.main-mas{ 
    background-color:$spam;
    font-family:$Montserrat;
    position: absolute;
    width: 397px;
    height: 47px;
    position: absolute;
    bottom: 5px;
    font-size: 19px;
    p{
    margin: 0px;
    padding-top: 10px;
    }
}
