.main{
    background-color: white;
    text-align: center;
}
h1{
    color: black;
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.main-title{
    padding-top: 60px;
}
.main-images +.main-images{
    padding-bottom: 99px;
}
.main-images{
    padding-top:52px;
    padding-left: 44px;
    img{
        width: 397px;
        height: auto;
    }
}
.main-images-container{
    float: left;
    padding-left: 40px;
    position: relative;
}
.main-description{
    width: 397px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.541);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 36px;
    position: absolute;
    bottom: 5px;
}
.main-description-cuba{
    width: 397px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.541);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 36px;
    position: absolute;
    bottom: 50px;
}
.main-mas1{ 
    background-color: rgba(0, 0, 0, 0.541);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 397px;
    height: 47px;
    position: absolute;
    bottom: 5px;
    font-size: 19px;
    p{
    margin: 0px;
    padding-top: 10px;
    }
}
.main-mas2{ 
    background-color: rgba(0, 0, 0, 0.541);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
}